*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.listing-items{
    padding: 10px;
    border: 1px solid #ccc;
}

.listing-items ul{
    padding: 0;
    margin: 0;
}
.listing-prop{
    float: right;
    border-left: 1px solid #ccc;
    line-height: 90px;
    padding: 0 10px;
}
.listing-img{
    width: 110px;
    height: 90px;
    float: left;
}
.listing-img img{
    width: 100px;
    padding: 5px;
    height: 80px;
}
.listing-name{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 245px;
    max-height: 90px;
    overflow: hidden;
}
.listing-price{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 243px;
    max-height: 90px;
    overflow: hidden;
}
.listing-button{
    float: right;
    border-left: 1px solid #ccc;
    border-right: 0;
    padding: 0 10px;
    width: 86px;
    text-align: center;
}
.clear-both{
    clear: both;
}
.listing-items ul li{
    list-style: none;
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
}
.listing-items ul li:first-child{border: solid 1px;}
.listing-time{
    width: 149px;
    text-align: center;
}
.listing-item-heading{
    text-align: center;
    font-weight: bold;
}
.listing-item-heading .listing-prop{
    height: 50px;
    line-height: 55px;
    background: #957373;
    color: #000;
}
.buttons{
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 38px;
}
.buttons a{
    color: #000;
    padding: 10px;
    background: #936d6d;
    margin-right: 700px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#admin-heading-panel{
    background: #615ce0;
    height: 50px;
    line-height: 50px;
    color: #fff;
}
#admin-heading-panel a{
    color: #000;
}
.left-panel{
    float: left;
}
.left-panel span{
    color: #25cc13;
    font-weight: bold;
}
.right-panel{
    float: right;
}
.right-panel img{
    vertical-align: middle;
}
.right-panel a{
    margin-right: 10px;
}
.left-menu{
    float: left;
    width: 280px;
}
.main-content{
    float: left;
    width: 900px;
    margin-left: 20px;
}
.main-content h1{
    margin: 0;
    background: #463030;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    border: solid 1px;
    padding: 0 10px;
}
#content-wrapper .container{
    padding: 15px 0;
}
.menu-heading{
    background: #da8282;
    line-height: 20px;
    padding: 20px;
    color: #000;
    border: solid 1px;
    font-size: 30px;
}
.menu-items ul{
    margin: 0;
    padding: 0;
}
.menu-items ul li{
    list-style: none;
    line-height: 30px;
    border-bottom: 1px dashed #ccc;
    padding-left: 15px;
}
.menu-items ul li a{
    color: #000;
}
.menu-items ul li:first-child{
    border-top: 0;
}
.menu-items{
    padding: 0 0px 0px 0px;
    border: solid 1px;
}
#pagination{
    text-align: right;
    margin-top: 15px;
}
.page-item{
    border: 1px solid #ccc;
    padding: 5px 9px;
    color: #000;
}
.current-page{
    background: #000;
    color: #FFF;
}
#listing-editing{
    border: 1px solid #ccc;
    padding: 20px;
}

#content-box{
    border: 1px solid #ccc;
    padding: 20px;
}

#editing-form label {
    width: 150px;
    display: inline-block;
}
#editing-form input {
    margin-bottom: 35px;
    line-height: 40px;
    width: 400px;
}
#editing-form textarea {
    width: 500px;
    height: 200px;
}
#editing-form input[type=submit] {
    float: right;
    background: url('./uploads/luu.jpg') center center no-repeat;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    border: 0;
    cursor: pointer;
}
#cke_product-content{
    float: left;
    width: 855px;
}
.right-wrap-field{
    float: left;
    width: 100%;
}
.right-wrap-field img{
    width: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    height: 150px;
}
.right-wrap-field input{
    float: none;
}
.right-wrap-field ul{
    padding: 0;
    margin: 0;
}
.right-wrap-field ul li{
    list-style: none;
    float: left;
    position: relative;
    padding: 0;
    margin: 0;
}
.right-wrap-field ul li a{
    position: absolute;
    background: rgba(0,0,0,0.1);
    color: #000;
    padding: 5px;
    bottom: 3px;
    right: 0;
}

.box-content{
    margin: 0 auto;
    width: 800px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
}
.listing-search{
    margin-bottom: 15px;
}


.total-items{
    margin-bottom: 5px;
    text-align: right;
}
.total-items strong{
    color: red;
}
#menu-list .listing-prop{
    line-height: 40px;
}
select[name="parent_id"]{
    margin-bottom: 10px;
    height: 40px;
}


.listing-address{
    float: left;
    width: 180px;
}
.listing-phone{
    float: left;
    width: 151px;
}
.listing-id{
    float: left;
    width: 50px;
    text-align: center;
}
#order-detail-wrapper{
    width: 450px;
    margin: 50px auto;
    border: 4px solid #000;
    padding: 5px;
}
#order-detail{
    border: 1px solid #000;
    padding: 20px;
    line-height: 20px;
}
#order-detail ul{
    margin: 0;
    padding: 0;
}
#order-detail ul li{
    list-style: none;
}
#order-detail label{
    font-weight: bold;
}