.img3{
	width:40%;
	height:1000px;
	float:left;
}

.tongchitiet2{
	width:80%;
	height: 1500px;
	margin:0 auto;
	
}
.footer{
	width:100%;
	height:40px;
	float:left;
	background-color: #666;
}
.dangnhap{
	width:100%;
	height:40px;
	float:left;
}

.thongtn{
	width:70%;
	height:150px;
	float:left;
	font-size:20px;
	border-style:groove;
}
.noidung{
	width: 80%;
	height: auto;
	margin:0 auto;
	
}

