*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
}
.tongkhung{
	width:90%;
	height: auto;
	margin:0 auto;
	display:block;
}

.menu{
	width:100%;
	height:150px;
	float:left;
	padding-bottom:10px;
}

.khungnho{
	width:19%;
	height:400px;
	float:left;
	padding-right:10px;
	padding-bottom:10px;
}

.img1{
	width:100%;
	height:250px;
	float:left;
}

.tieude{
	width:100%;
	height:30px;
	float:left;
}

.dongia{
	width:100%;
	height:20px;
	float:left;
}

.khungchitiet{
	width:100%;
	height:auto;
	float:left;
}
.img2{
	width:60%;
	height:400px;
	float:left;
}

.chitietsanpham{
	width:40%;
	height:300px;
	float:left;
	border-style:groove;
}

.tongchitiet{
	width:80%;
	height: auto;
	margin:0 auto;
	
}
.footer{
	width:100%;
	height:40px;
	float:left;
	background-color: #666;
}

#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 100vh;
}
#header {
    width: 100%;
    padding:0px 30px;
    margin-top:33px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#626A67;
    text-decoration: none;
}
.big{
	width:100%;
	height:150px;
	float:left;
	background-color: #CCC;
}