#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 100vh;
}
#header {
    width: 100%;
    padding:0px 30px;
    margin-top:33px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#626A67;
    text-decoration: none;
}

.big{
	width:100%;
	height:150px;
	float:left;
	background-color: #CCC;
}
.color{
	background-color:#03C;
}

.gioithieu{
	widows:80%;
	height:auto;
	float:left;
}

.tongkhung2{
	width:90%;
	height: auto;
	margin:0 auto;
	
}

.tongkhung2 li{
	padding-bottom:10px;
}

.tongkhung2 p{
	padding-bottom:10px;
}