*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin: 0 auto;
}

.product-items{
    border: 1px solid #000;
    padding: 30px;
}
.product-item{
    float: left;
    width: 23%;
    margin: 1%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    line-height: 26px;
	height:470px;
}
.product-item label{
    font-weight: bold;
}
.product-item p{
    margin: 0;
    line-height: 26px;
    max-height: 52px;
    overflow: hidden;
}
.product-price{
    color: red;
    font-weight: bold;
}
.product-img{
    padding: 5px;
    border: 1px solid #000;
    margin-bottom: 5px;
}
.product-item img{
    max-width: 100%;
	height:90%;
}
.product-item ul{
    margin: 0;
    padding: 0;
    border-right: 1px solid #000;
}
.product-item ul li{
    float: left;
    width: 33.3333%;
    list-style: none;
    text-align: center;
    border: 1px solid #000;
    border-right: 0;
    box-sizing: border-box;
}
.clear-both{
    clear: both;
}
a{
    text-decoration: none;
}
.buy-button{
    text-align: right;
    margin-top: 10px;
}
.buy-button a{
    background: #444;
    padding: 5px;
    color: #fff;
}
#pagination{
    text-align: right;
    margin-top: 15px;
}
.page-item{
    border: 1px solid #000;
    padding: 5px ;
    color: #000;
}
.current-page{
    background: #000;
    color: #FFF;
}
#product-detail{
    border-top: 1px solid #000;
    padding: 15px 0 0 0;
}
#product-img{
    width: 25%;
    margin-left: 450px;
}
#product-info{
    width: 100%;
    margin-left: 290px;
}
#product-img img{
    max-width: 100%;
    padding: 5px;
    border: 1px solid #000;
    background: #eee;
}
h1{
    margin-top: 0;
    margin-left: -580px;
}
label.add-to-cart{
    background: #000;
    border: 1px solid #000;
    margin-top: 15px;
    padding: 15px;
    display: inline-block;
    color: #fff;
}
label a{
    color: #FFF;
}
#gallery{
    margin-top: 10px;
}
#gallery ul{
    margin: 0;
    padding: 0;
}
#gallery ul li{
    width: 150px;
    float: left;
    list-style: none;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 100px;
    text-align: center;
    padding: 5px;
    border: 1px solid #000;
    background: #eee;
}
#gallery ul li img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
table{
    border-collapse: collapse;
    width: 1170px;
}
table, th, td {
    border: 1px solid black;
}
table .product-img img{
    max-width: 100px;
}
table .product-name{
    width: 350px;
    padding-left: 20px;
}
table .product-img{
    width: 120px;
    text-align: center;
}
table .product-number{
    width: 50px;
    text-align: center;
}
table .product-price{
    width: 100px;
    text-align: center;
}
table .product-quantity input{
    width: 40px;
    text-align: center;
}
table .product-quantity{
    width: 60px;
    text-align: center;
}
table .total-money{
    width: 100px;
    text-align: center;
}
#form-button{
    text-align: right;
    margin-top: 15px;
}
.product-delete{
    width: 100px;
    text-align: center;
}
#cart-form label{
    width: 100px;
    display: inline-block;
    margin-top: 15px;
}
#cart-form textarea{
    margin-top: 15px;
}
#cart-form input{
    line-height: 30px;
    height: 30px;
}
input[name="order_click"]{
    margin-top: 15px;
}
#row-total{
    background: #eee;
    color: #000;
}

#add-to-cart-form input[type='text']{
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
}
#add-to-cart-form input[type='submit']{
    background: #f00;
    margin-top: 20px;
}
label{
    margin-left: 200px;
}
.form1{
    margin-left: 225px;
}

.footer{
	width:100%;
	height:20px;
	float:left;
	background-color: #000;
}
.btn-search{
	    background-color:#303030;
		     outline: none;
    border: none;
    border-radius: 2px;
	color:#999;
}
